.itemDetail{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: #8367c7;
    max-width: 80%;
    max-height: 90%;
    margin: 20px auto ;
    border-radius: 20px;
    .imgDetail{
        width: 500px;
    }
    .titleDetail{
        font-family: 'Crimson Text', serif;
        font-size: 5rem;
        color: #f0fff1;
    }
    .priceDetail{
        font-family: 'Crimson Text', serif;
        font-size: 3rem;
        color: #f0fff1;
    }
}